/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/*
end of pasted section from meyerweb.com
*/

.container {
	margin: 1rem;
	padding: 1rem;
}

section {
	padding: 1rem;
	float: left;
}

h1, h2, h3, h4, h5, p, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header > nav {
	font-size: 1.5em;
	font-weight: bold;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.copyright {
	float: left;
}

.primary-footer{
	text-align:left;
	margin-bottom: 30px;
}

* {
	box-sizing: border-box;
}  

@media only screen and (max-width: 768px) {
	/* For mobile phones and tablets: */
	[class*="col-"] {
		width: 100%;
	}
} 

@media only screen and (min-width: 768px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 25%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
} 

